.rembased-column-defaults() {
  // max width for grid column
  @gridMaxWidth: 10rem;
  
  // default spacing between columns
  @columnGutter: 1rem;
}
.rembased-column-defaults();


// column system - empirically developed
.column-system(@margin: @columnGutter; @selector: ~'> *') {
  // flex setup
  .doflex(@margin; @selector);
  flex-wrap: wrap;
  justify-content: space-between;
  
  @{selector} {
    // create a beginning of coordinates
    position: relative;
    
    // columns have equal width
    flex: 1 1 0;
    
    // collapse on mobile
    .mobile({ flex-basis: 100%; });
    
    // have margin bottom
    margin-bottom: @margin;
  }
  
  // balance .column-width-grid with empty elements at the end
  // http://stackoverflow.com/a/33212959/3748498
  > flex_balancer { .column-width-grid; }
}
.column-system { .column-system; }

// more column types
.column-width-two { flex-grow: 2; }
.column-width-gold { flex-grow: 1.618; }
.column-width-full { flex-basis: 100%; }
.column-width-grid { flex-basis: @gridMaxWidth; .mobile({ flex-basis: @gridMaxWidth; }); }

// see above
flex_balancer {
  height: 0 !important;
  padding-top: 0 !important; padding-bottom: 0 !important;
  margin-top: 0 !important; margin-bottom: 0 !important;
  visibility: hidden !important;
}
