.rembased-helper-defaults() {
  // used for .mobile and .desktop mixins
  // iPad has 768px screen width
  @mobileBreak: 750px;
}

.rembased-helper-defaults();


// quick media queries
.mobile(@rule) { @media (max-width: @mobileBreak) { @rule(); } }
.desktop(@rule) { @media (min-width: (@mobileBreak + 1px)) { @rule(); } }


// base flex layout with equal horizontal margins 
.doflex(@margin: 1rem; @selector: ~'> *') {
  display: flex;
  
  margin-left: -@margin / 2; margin-right: -@margin / 2;
  
  @{selector} {
    margin-left: @margin / 2; margin-right: @margin / 2;
    
    // http://stackoverflow.com/questions/27472595/firefox-34-ignoring-max-width-for-flexbox
    min-width: 0;
  }
}


// disable zoom efect in landspace mode on iOS
html { -webkit-text-size-adjust: 100%; }
